.topSection {
    display: flex;
    align-items: center;
}

.topText {
    padding-left: 150px;
}

.topImage {
    padding-left: 70px;
}

.topImage img {
    width: 120px;
}

.navigatons {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 100px;
    background-color: darkslategray;
    line-height: 80px;
}

ul li {
    list-style: none;
    font-size: 25px;
    padding: 20px;
}

nav ul {
    display: flex;
}

li a {
    text-decoration: none;
    color: white;
}

.dropdown {
    display: none;
}

ul>li:hover>ul {
    display: block;
    background-color: darkslategray;
    position: absolute;
    padding: 0%;
    line-height: 35px;
}